<section class="hero-section">
  <div class="container">
    <a class="close" (click)="close()"><i class="fas fa-times "></i></a>
    <div class="row">
      <div class="booking-form">

        <h3 class="text-center">Edit Password</h3>
        <div class="alert alert-danger" [class.d-none]="!error">{{error}}</div>


        <form [formGroup]="passForm" (ngSubmit)="save()">
          <div class="wrap-input100 ">
            <input class="input100" type="password" name="password" placeholder=" New Password" formControlName="password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
          </div>

          <small class="error" *ngIf=" form.password.getError('required')&& form.password.touched ">*Required</small>
          <small class="error" *ngIf=" form.password.getError('pattern') ">Must be at least 5 characters</small>

          <div class="wrap-input100 ">
            <input class="input100" type="password" name="password" placeholder="Confirm Password"
                   formControlName="passwordConfirmation" ngValidateEqual="password">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
          </div>

          <small class="error" *ngIf=" form.passwordConfirmation.getError('required')&& form.passwordConfirmation.touched ">*Required</small>
          <small class="error" *ngIf="form.passwordConfirmation.value != form.password.value && form.passwordConfirmation.dirty ">Must match password</small>

          <button type="submit" [disabled]="passForm.invalid || form.passwordConfirmation.value != form.password.value">Submit</button>


        </form>
      </div>
    </div>
  </div>
</section>
