.header-section.header-normal .menu-item {
    -webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
    box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}

.top-nav {
    border-bottom: 1px solid #e5e5e5;
}

.top-nav .tn-left li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    font-weight: 500;
    padding: 14px 0 12px;
    margin-right: 64px;
    position: relative;
}

.top-nav .tn-left li:after {
    position: absolute;
    right: -32px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    content: "";
}

.top-nav .tn-left li:last-child {
    margin-right: 0;
}

.top-nav .tn-left li:last-child:after {
    display: none;
}

.top-nav .tn-left li i {
    color: #dfa974;
    margin-right: 4px;
}

.top-nav .tn-right {
    text-align: right;
}

.top-nav .tn-right .top-social {
    display: inline-block;
    margin-right: 35px;
    padding: 13px 0;
}

.top-nav .tn-right .top-social a {
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    margin-left: 15px;
}

.top-nav .tn-right .bk-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 28px 15px;
    background: #dfa974;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-nav .tn-right .language-option {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    padding: 13px 0px 11px;
    position: relative;
}

.top-nav .tn-right .language-option:hover .flag-dropdown {
    top: 40px;
    opacity: 1;
    visibility: visible;
}

.top-nav .tn-right .language-option img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-nav .tn-right .language-option span {
    font-size: 16px;
    color: #19191a;
    text-transform: uppercase;
    font-weight: 500;
}

.top-nav .tn-right .language-option .flag-dropdown {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    background: #ffffff;
    display: block;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 99;
}

.top-nav .tn-right .language-option .flag-dropdown ul li {
    list-style: none;
    text-align: left;
}

.top-nav .tn-right .language-option .flag-dropdown ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #19191a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.top-nav .tn-right .language-option .flag-dropdown ul li a:hover {
    color: #dfa974;
}

.menu-item {
    position: relative;
    z-index: 9;
}

.menu-item .logo {
    padding: 25px 0;
}

.menu-item .logo a {
    display: inline-block;
}

.menu-item .nav-menu {
    text-align: right;
}

.menu-item .nav-menu .mainmenu {
    display: inline-block;
}

.menu-item .nav-menu .mainmenu li {
    list-style: none;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.menu-item .nav-menu .mainmenu li.active a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover>a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover .dropdown {
    top: 77px;
    opacity: 1;
    visibility: visible;
}

.menu-item .nav-menu .mainmenu li a {
    font-size: 16px;
    color: #19191a;
    margin-right: 42px;
    font-weight: 500;
    display: inline-block;
    padding: 27px 0;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li a:after {
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    height: 2px;
    background: #dfa974;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown {
    position: absolute;
    left: 0;
    top: 97px;
    width: 180px;
    background: #ffffff;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
    box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}

.menu-item .nav-menu .mainmenu li .dropdown li {
    list-style: none;
    display: block;
}

.menu-item .nav-menu .mainmenu li .dropdown li a {
    font-size: 16px;
    color: #19191a;
    display: block;
    text-align: left;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
    color: #dfa974;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:after {
    display: none;
}

.menu-item .nav-menu .nav-right {
    display: inline-block;
    margin-left: 43px;
    padding: 27px 0px;
}

.menu-item .nav-menu .nav-right i {
    font-size: 16px;
    color: #19191a;
    cursor: pointer;
}

.canvas-open {
    display: none;
}

.offcanvas-menu-wrapper {
    display: none;
}
