html,
body {
    height: 100%;
    font-family: "Cabin", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Lora", serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

ul,
ol {
    padding: 0;
    margin: 0;
}


/*---------------------
  Helper CSS
-----------------------*/

.section-title {
    text-align: center;
    margin-bottom: 22px;
}

.section-title span {
    font-size: 14px;
    color: #dfa974;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 44px;
    color: #19191a;
    line-height: 58px;
    margin-top: 10px;
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.spad-2 {
    padding-top: 50px;
    padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}


/* buttons */

.primary-btn {
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;
}

.primary-btn:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #dfa974;
    content: "";
}


/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #ffffff;
}


.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;

}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

.spacial-controls {
    position: fixed;
    width: 111px;
    height: 91px;
    top: 0;
    right: 0;
    z-index: 999;
}

.spacial-controls .search-switch {
    display: block;
    height: 100%;
    padding-top: 30px;
    background: #323232;
    text-align: center;
    cursor: pointer;
}

.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
}

.search-model-form {
    padding: 0 15px;
}

.search-model-form input {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
}

.search-close-switch {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/*---------------------
  Header
-----------------------*/

.header-section.header-normal .menu-item {
    -webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
    box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}

.top-nav {
    border-bottom: 1px solid #e5e5e5;
}

.top-nav .tn-left li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    font-weight: 500;
    padding: 14px 0 12px;
    margin-right: 64px;
    position: relative;
}

.top-nav .tn-left li:after {
    position: absolute;
    right: -32px;
    top: 0;
    width: 1px;
    height: 100%;
    background: #e5e5e5;
    content: "";
}

.top-nav .tn-left li:last-child {
    margin-right: 0;
}

.top-nav .tn-left li:last-child:after {
    display: none;
}

.top-nav .tn-left li i {
    color: #dfa974;
    margin-right: 4px;
}

.top-nav .tn-right {
    text-align: right;
}

.top-nav .tn-right .top-social {
    display: inline-block;
    margin-right: 35px;
    padding: 13px 0;
}

.top-nav .tn-right .top-social a {
    display: inline-block;
    font-size: 16px;
    color: #19191a;
    margin-left: 15px;
}

.top-nav .tn-right .bk-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 28px 15px;
    background: #dfa974;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.top-nav .tn-right .language-option {
    display: inline-block;
    margin-left: 30px;
    cursor: pointer;
    padding: 13px 0px 11px;
    position: relative;
}

.top-nav .tn-right .language-option:hover .flag-dropdown {
    top: 40px;
    opacity: 1;
    visibility: visible;
}

.top-nav .tn-right .language-option img {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-nav .tn-right .language-option span {
    font-size: 16px;
    color: #19191a;
    text-transform: uppercase;
    font-weight: 500;
}

.top-nav .tn-right .language-option .flag-dropdown {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100px;
    background: #ffffff;
    display: block;
    padding: 10px 15px;
    -webkit-box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    box-shadow: 0px 9px 10px rgba(25, 25, 26, 0.2);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 99;
}

.top-nav .tn-right .language-option .flag-dropdown ul li {
    list-style: none;
    text-align: left;
}

.top-nav .tn-right .language-option .flag-dropdown ul li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #19191a;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.top-nav .tn-right .language-option .flag-dropdown ul li a:hover {
    color: #dfa974;
}

.menu-item {
    position: relative;
    z-index: 9;
  box-shadow: 0px 12px 15px rgb(36 11 12 / 5%);
}

.menu-item .logo {
    padding: 25px 0;
}

.menu-item .logo a {
    display: inline-block;
}

.menu-item .nav-menu {
    text-align: right;
}

.menu-item .nav-menu .mainmenu {
    display: inline-block;
}

.menu-item .nav-menu .mainmenu li {
    list-style: none;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.menu-item .nav-menu .mainmenu li.active a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover>a:after {
    opacity: 1;
}

.menu-item .nav-menu .mainmenu li:hover .dropdown {
    top: 77px;
    opacity: 1;
    visibility: visible;
}

.menu-item .nav-menu .mainmenu li a {
    font-size: 16px;
    color: #19191a;
    margin-right: 42px;
    font-weight: 500;
    display: inline-block;
    padding: 27px 0;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li a:after {
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    height: 2px;
    background: #dfa974;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown {
    position: absolute;
    left: 0;
    top: 97px;
    width: 180px;
    background: #ffffff;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
    box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}

.menu-item .nav-menu .mainmenu li .dropdown li {
    list-style: none;
    display: block;
}

.menu-item .nav-menu .mainmenu li .dropdown li a {
    font-size: 16px;
    color: #19191a;
    display: block;
    text-align: left;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
    color: #dfa974;
}

.menu-item .nav-menu .mainmenu li .dropdown li a:after {
    display: none;
}

.menu-item .nav-menu .nav-right {
    display: inline-block;
    margin-left: 43px;
    padding: 27px 0px;
}

.menu-item .nav-menu .nav-right i {
    font-size: 16px;
    color: #19191a;
    cursor: pointer;
}

.canvas-open {
    display: none;
}

.offcanvas-menu-wrapper {
    display: none;
}
