
<div *ngIf="reviews.length>0"  class="rd-reviews">
  <h3 class="title">Reviews</h3>
  <div class="example-1 scrollbar-ripe-malinka">
    <div *ngFor="let item of reviews" >

      <div class="review-item">
        <div class="ri-pic">
          <img src="../../assets/img/room/avatar/avatar.png" alt="user">
        </div>

        <div class="ri-text">
          <span>{{item.date ? item.date.toString().substring(0, 10) : null}}</span>
          <div class="rating">
            <ngb-rating class="star" [(rate)]="item.rating" [readonly]="true"></ngb-rating>
          </div>
          <h5>{{item.name}}</h5>
          <p>{{item.review}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="review-add">
  <h3 class="title">Add Review</h3>

  <form (ngSubmit)="submit()" [formGroup]="reviewForm" class="ra-form">

    <div class="row">
      <div  class="col-lg-6" [class.d-none]="connectedUser">
        <input type="text" placeholder="Name*" formControlName="name">
        <span class="error" *ngIf="form.name.touched && form.name.invalid ">*Required</span>
      </div>

      <div class="col-lg-6" [class.d-none]="connectedUser">
        <input type="text" placeholder="Email*" formControlName="email">
        <span class="error" *ngIf="form.email.getError('required')&&form.email.touched  ">*Required</span>
        <span class="error" *ngIf="form.email.getError('email')">Must be a valid email address</span>
      </div>

      <div class="col-lg-12">
        <h5>Your Rating:</h5>

        <div class="rating">
          <ngb-rating class="star" [(rate)]="currentRate" (rateChange)="onRate($event)"></ngb-rating>
        </div>

        <textarea placeholder="Your Review*" formControlName="review"></textarea>


        <button type="submit" >Submit Now</button>

      </div>
    </div>
  </form>
</div>
