
html,
body {
    height: 100%;
    font-family: "Cabin", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Lora", serif;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.breadcrumb-section {
    padding-top: 70px;
    padding-bottom: 80px;
}

.breadcrumb-text {
    text-align: center;
}

.breadcrumb-text h2 {
    font-size: 44px;
    color: #19191a;
    margin-bottom: 12px;
}

.breadcrumb-text .bt-option a {
    display: inline-block;
    font-size: 18px;
    color: #19191a;
    margin-right: 20px;
    position: relative;
    font-weight: 500;
}

.breadcrumb-text .bt-option a:after {
    position: absolute;
    right: -13px;
    top: 1px;
    content: "ï„…";
    font-size: 18px;
    font-family: "FontAwesome";
    color: #aaaab3;
}

.breadcrumb-text .bt-option span {
    display: inline-block;
    font-size: 18px;
    color: #aaaab3;
}

.rooms-section {
    padding-top: 0;
    padding-bottom: 80px;
}

.load {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #dfa974;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    /* Safari */
    animation: spin 2s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search {
    border: none;
    background-color: white;
}

* {
    box-sizing: border-box;
}


/* Style the input container */

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    /* margin-left: 380px; */
}


/* Style the form icons */

.icon {
    padding: 10px;
    background: #dfa974;
    color: white;
    min-width: 50px;
    text-align: center;
    font-size: 20px;
    margin-left: 3px;
}


/* Style the input fields */

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaaab3;
}

.custom-pagination {
    /* float: right; */
    text-align: center;
}

.custom-pagination .page-number {
    display: inline-block;
    /* padding: 5px 12px; */
    margin: 4px 4px;
    border-radius: 50%;
    /* padding-right: 1px; */
    padding-top: 4px;
}

.page-number.current {
    background: #dfa974!important;
    /* border: 2px solid #458873; */
}

.page-number span {
    display: block;
    width: 28px;
    height: 28px;
    font-size: 15px;
    cursor: pointer;
}

.pagination-previous,
.pagination-next {
    display: inline-block;
    font-weight: bold;
}

.pag .current {
    background: #dfa974;
}
