<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Coworking Spaces</h2>
                    <div class="bt-option">
                        <a routerLink="/">Home</a>
                        <span>Co-working Spaces</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            <div *ngIf="isLoading" class="load">
                <!-- <mat-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value">
                </mat-spinner> -->
            </div>
            <app-coworkingspace-item *ngFor="let space of spaces" class="col-lg-4 col-md-6" [space]='space'></app-coworkingspace-item>
        </div>
    </div>
</section>