html,
body {
  height: 100%;
  font-family: "Cabin", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Lora", serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #6b6b6b;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #fff;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

.room-item {
  margin-bottom: 30px;
}
.room-item img {
  min-width: 100%;
}
.room-item .ri-text {
  border: 1px solid #ebebeb;
  border-top: none;
  padding: 24px 24px 30px 28px;
}
.room-item .ri-text h5 {
  color: #19191a;
  margin-bottom: 17px;
}
.room-item .ri-text h4 {
  color: #dfa974;
  font-weight: 700;
  margin-bottom: 14px;
}

.room-item .ri-text .primary-btn {
  color: #19191a;
}
.primary-btn {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}


.primary-btn:after {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #dfa974;
  content: "";
}
