<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Our Coworking Spaces</h2>
                    <div class="bt-option">
                        <a routerLink="/">Home</a>
                        <span>Co-working Spaces</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">

                    <img height="450px" width="900px" src={{space.pictures[0]}} alt="">

                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>{{space.name}}</h3>
                            <div class="rdt-right">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>

                            </div>
                        </div>
                        <h2>{{space.location}}</h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">joined:</td>
                                    <td>{{space.joined?space.joined.toString().substring(0,10):null}}</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Opening Hours:</td>
                                    <td> {{space.hourOpen? space.hourOpen.toString().substring(11,16) : null}}&nbsp;am&nbsp;-&nbsp;{{space.hourClose ? space.hourClose.toString().substring(11,16) : null}}&nbsp;pm</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Services:</td>
                                    <td>Wifi, Television, Bathroom,...</td>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="rd-reviews">
                    <h4>Reviews</h4>
                    <div class="review-item">
                        <div class="ri-pic">
                            <img src="../../assets/img/room/avatar/avatar-1.jpg" alt="">
                        </div>
                        <div class="ri-text">
                            <span>27 Aug 2019</span>
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5>Brandon Kelley</h5>
                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore magnam.
                            </p>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="ri-pic">
                            <img src="../../assets/img/room/avatar/avatar-2.jpg" alt="">
                        </div>
                        <div class="ri-text">
                            <span>27 Aug 2019</span>
                            <div class="rating">
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star"></i>
                                <i class="icon_star-half_alt"></i>
                            </div>
                            <h5>Brandon Kelley</h5>
                            <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora. incidunt ut labore et dolore magnam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="review-add">
                    <h4>Add Review</h4>
                    <form action="#" class="ra-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name*">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" placeholder="Email*">
                            </div>
                            <div class="col-lg-12">
                                <div>
                                    <h5>You Rating:</h5>
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                </div>
                                <textarea placeholder="Your Review"></textarea>
                                <button type="submit">Submit Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Your Reservation</h3>
                    <form action="#">
                        <div class="check-date">
                            <label for="date-in">Date:</label>
                            <input type="date" class="date-input" id="date-in">
                            <!-- <i class="icon_calendar"></i> -->
                        </div>
                        <div class="check-date">
                            <label for="date-out">Time:</label>
                            <input type="time" class="date-input" id="date-out">
                            <!-- <i class="icon_calendar"></i> -->
                        </div>
                        <div class="check-date">
                            <label for="guest">Guests:</label>
                            <input id="guest" type="number">

                        </div>

                        <button type="submit">Check Availability</button>
                    </form>
                </div>
                <br/><br/>
                <img src="../../assets/img/back-2.jpg" alt=""><br/><br/>
                <img src="../../assets/img/back-2.jpg" alt=""><br/> <br/>
                <img src="../../assets/img/back-2.jpg" alt=""> <br/><br/>
            </div>
        </div>
    </div>
</section>
