   <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/img/back-1.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption hero-section">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="hero-text">
                    <h1>WeConnect</h1>
                    <p>Here are the best co-working booking sites, including recommendations for finding best price and place.</p>
                    <a routerLink="/coworkingspaces" class="primary-btn">Discover Now </a>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/img/back-7.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption hero-section">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="hero-text">
                    <h1>WeConnect</h1>
                    <p>Here are the best co-working booking sites, including recommendations for finding best price and place.</p>
                    <a routerLink="/coworkingspaces" class="primary-btn">Discover Now</a>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </ng-template>

      </ngb-carousel>




<section class="services-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>What We Do</span>
          <h2>Discover Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-036-parking"></i>
          <h4>Location</h4>
          <p>WeConnect brings together more than 100 co-working spaces in different regions of Tunisia</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-044-clock-1"></i>
          <h4>flexibility</h4>
          <p>We offer you comfortable and well-equipped workspaces with flexible access up to 24h/24h .</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-item">
          <i class="flaticon-047-calendar"></i>
          <h4>Reservation</h4>
          <p>No need to rent an entire space, reserve the number of desks you need, for the time you need.</p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Home Room Section Begin -->
<section class="hp-room-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Co-working spaces</span>
          <h2>Discover our Best Co-working Spaces</h2>
        </div>
      </div>
    </div>
    <div class="hp-room-items">
      <div class="row">
        <div *ngFor="let space of spaces " class="col-lg-3 col-md-6">
        <div  >

        <div class="hp-room-item " style="background-image: url('../../assets/img/desk (1).jpg')">
            <div class="hr-text">
              <h3>{{space.name}}</h3>
              <h2>5Dt<span>/Perperson</span></h2>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Location:</td>
                  <td>{{space.location}}</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion 5</td>
                </tr>
                <tr>
                  <td class="r-o">Opening Hours:</td>
                  <td>{{space.hourOpen.toString().substring(11,16)}}&nbsp;am&nbsp;-&nbsp;{{space.hourClose.toString().substring(11,16)}}&nbsp;pm</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
                </tbody>
              </table>
              <a routerLink='/coworkingspace/{{space._id}} ' class="primary-btn">Book Now</a>
            </div>


        </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</section>

   <section class="testimonial-section spad">
     <div class="container">
       <div class="row">

         <div class="col-lg-12">
           <div class="section-title">
             <span>Testimonials</span>
             <h2>What Customers Say?</h2>
           </div>
         </div>
       </div>
       <div class="row">
         <div class="col-lg-8 offset-lg-2">
           <div class="testimonial-slider ">

   <div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item" *ngFor="let item of reviews let i = index"
            [ngClass]="{'active': i == 0 }">
         <div class="picsum-img-wrapper">
           <div class="ts-item">
             <p>{{item.review}}</p>
             <div class="ti-author">
               <div class="rating">
                 <ngb-rating class="star" [(rate)]="item.rating" [readonly]="true"></ngb-rating>
               </div>
               <h5> - {{item.name}}</h5>
             </div>
             <h3 class="decoration">{{item.workspace}}</h3>
           </div>
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
     </div>
   </div>
     </div>
         </div>
       </div>
     </div>
   </section>

<section class="blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <span>Co-working spaces News</span>
          <h2>Events</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="blog-item" style="background-image: url('../../assets/img/happyh.jpg')">
          <div class="bi-text">
            <span class="b-tag">Happy Hour</span>
            <h4><a href="#">Ming Up</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2021</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item set-bg" style="background-image: url('../../assets/img/workshop.jpg')">
          <div class="bi-text">
            <span class="b-tag">Workshop Stress Management</span>
            <h4><a href="#">Space</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2021</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item set-bg" style="background-image: url('../../assets/img/workshop.jpg')">
          <div class="bi-text">
            <span class="b-tag">General Assembly</span>
            <h4><a href="#">Space</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 21th April, 2021</div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="blog-item small-size set-bg" style="background-image: url('../../assets/img/hack.jpg')">
          <div class="bi-text">
            <span class="b-tag">Hackathon</span>
            <h4><a href="#">Cogite</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 08th April, 2021</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog-item small-size set-bg" style="background-image: url('../../assets/img/techtalk.jpg')">
          <div class="bi-text">
            <span class="b-tag">Tech talks</span>
            <h4><a href="#">Mind UP</a></h4>
            <div class="b-time"><i class="icon_clock_alt"></i> 12th April, 2021</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
